<h1>All Flights</h1>

<% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
    <ul>
      <li><%= flight.airline.name %> Flight: <%= flight.number %></li>
      <li>Passengers:<% flight.trips.each do |trip| %> </li>
      <div id="passenger-<%= trip.passenger_id %>">
        <ul>
          <li><%= trip.passenger.name %> <%= link_to 'Remove Passenger', trip_path(trip), method: :delete %></li>
        </ul>
      </div>
      <% end %>
    </ul>
  </div>
<% end %>
